.header {
  color: red;
  font-size: 4rem;
  font-weight: 600;
}

.main {
  color: green;
  font-size: 8rem;
  font-weight: 800;
}

.footer {
  color: blue;
  font-size: 4rem;
  font-weight: 600;
}

html,
body {
  height: 100%;
  font-family: "Space Grotesk";
  background-color: #151515;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}