
$footer-back-color: #242424;
$footer-font-color: #FFF;
$text-color: #D9D9D9;
$green-color: #4EE1A0;

.container_footer {
	width: 1110px;
	margin: 0 auto;
	position: relative;
}

@media screen and (max-width: 1150px) {
	.container_footer {
		width: 95%;
	}
}

footer {
	padding-top: 84px;
	padding-bottom: 92px;
	color: $footer-font-color;
	background: $footer-back-color;
	height: 100%;
	width: 100%;
	font-size: 22px;

	.oval {
		position: absolute;
		top: 234px;
		left: -286px;
		img {
			width: 446px;
		}
	}

	.contact-cols {
		display: flex;
		justify-content: space-between;
		.col {
			display: flex;
			flex-direction: column;

			width: 40%;
			h3 {
				color: $footer-font-color;
				font-size: 88px;
				font-style: normal;
				font-weight: 700;
				letter-spacing: -2.5px;
			}
			p {
				color: $text-color;
				font-size: 18px;
				font-weight: 500;
				line-height: 28px;
				margin-top: 36px;
			}
			.form_send_message {
				display: flex;
				flex-direction: column;
				input, textarea {
					background: $footer-back-color;
					color: $footer-font-color;
					border-bottom: 1px solid $footer-font-color;
					margin-bottom: 32px;
					font-size: 16px;
					font-weight: 500;
					letter-spacing: -0.222px;
					&::-webkit-input-placeholder {
						padding-left: 24px;
					}
					&:-moz-placeholder {
						padding-left: 24px;
					}
					&::-moz-placeholder {
						padding-left: 24px;
					}
					&:-ms-input-placeholder {
						padding-left: 24px;
					}
					&:hover {
						border-bottom: 1px solid $green-color;
					}
				}
				textarea {
					resize: none;
					height: 107px;
					&::-webkit-scrollbar {
						width: 12px;
						cursor: pointer;
					}

					&::-webkit-scrollbar-track {
						-webkit-box-shadow: inset 0 0 6px rgba(160, 239, 141, 0.6);
						-webkit-border-radius: 10px;
						border-radius: 10px;
						background-color: #2b342b;
					}

					&::-webkit-scrollbar-thumb {
						-webkit-border-radius: 10px;
						border-radius: 10px;
						background: $green-color;
						-webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
						cursor: pointer !important;
					}
				}
				input {
					height: 43px;
				}
				button {
					font-size: 16px;
					font-style: normal;
					font-weight: 700;
					line-height: 26px;
					letter-spacing: 2.286px;
					border-bottom: 2px solid $green-color;
					align-self: end;
					&:hover {
						color: $green-color;
					}
				}
			}
		}
	}
	hr {
		border: 1px solid $text-color;
		margin-top: 92px;
	}
	.footer_nav {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin-top: 47px;
		.social {
			a {
				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	footer {
		padding-top: 60px;
		padding-bottom: 40px;
		.oval {
			top: 508px;
		}
		.contact-cols {
			flex-direction: column;
			align-items: center;

			.col {
				width: 60%;
				h3 {
					font-size: 72px;
				}
				p {
					font-size: 18px;
				}
				&:last-child {
					margin-top: 48px;
				}
				&:first-child {
					align-items: center
				}
			}
		}
		.footer_nav {
			margin-top: 30px;
		}
	}
}

@media screen and (max-width: 500px) {
	footer {
		.oval {
			top: 544px;
		}
	}
}

@media screen and (max-width: 400px) {
	footer {
		.oval {
			top: 510px;
			left: -336px;
		}
		.contact-cols {
			.col {
				width: 90%;
				h3 {
					font-size: 40px;
				}
				p {
					font-size: 16px;
				}
			}
		}
		.footer_nav {
			justify-content: center;
			flex-direction: column;
			.social a:first-child {
				padding-left: 0;
			}
		}
	}
}
@media screen and (max-width: 300px) {
	.footer_nav {
		.social a {
			padding-left: 15px;
		}
	}
}