// Імпортуємо файли стилів
@import "_reset";
@import "_ibg";
@import "_header";
@import "_main";
@import "_footer";
@import "_animation";

// Загальні стилі
html,
body {
	/*height: 100%;*/
	font-family: "Space Grotesk";
	color: #ffffff;
	background-color: #151515;
}

.wrapper {
	overflow: hidden;
	background: #151515;
}

[class*="__container"] {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
	@media (max-width: 768px) {
		padding: 0 32px;
	}
	@media (max-width: 425px) {
		padding: 0 15px;
	}
}

.main {
	flex: 1 1 auto;
}
